.App {
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

button {
  background-color:#dd7583;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e0bdbd;;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #dd7583;;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
}
